body {
    font-family: 'Poppins', sans-serif;


}

h1 {
    font-size: 40px;
    color: white;

}

.who {
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.need {
    padding-top: 0%;
    padding-left: 35%;
    margin-top: 0px;
}


p {
    color: white;
    padding-left: 25%;
}

#us {
    padding-left: 30%;
}

.help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;

    border: 2px solid gray;
    padding: 0px 15px 0px 15px;
    background-size: cover;
    margin-left: -110px;
    margin-right: 1222px;
    margin-top: -10px;
    height: 30em;
    width: 68em;
    border-radius: 5px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(179, 52, 30), rgb(212, 61, 61));
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 470px;
}

.poor {
    background-color: white;
    margin-left: -10px;
    margin-right: -8.5px;

}

.master {
    background-color: white;

    padding-left: 110px;
    margin-left: 120px;
    margin-right: 112px;
}

.donate {
    background-color: white;

    margin-left: 124px;
    margin-top: -34.9px;
    margin-right: 72px;
}

#font {
    color: black;
    font-size: 500;
    font-weight: 900;
    text-align: center;
    margin-left: -150px;
    padding-top: 40px;
    margin-bottom: 0px;
}

#as {
    color: black;
    margin-left: -80px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#dont {
    color: black;
    margin-top: 0px;
    margin-left: 30px;
}

.money {
    font-size: 30px;
    color: gray;
    margin-left: -250px;
    font-weight: bold;
    word-spacing: 70px;

    margin-top: 50px;

}

.one {
    background-color: rgb(226, 226, 226);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 5px;
}

.two {
    background-color: rgb(233, 151, 151);
    border: 2px solid rgb(247, 58, 58);
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 25px;

}



#other {
    margin-top: 100px;
    color: rgb(186, 186, 186);
    margin-left: 400px;
}

hr {
    width: 50%;

}


.link-butt {
    text-decoration: none;
    background-image: linear-gradient(rgb(199, 71, 48), rgb(218, 42, 42));
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 400px;
    margin-bottom: -500px;
    margin-top: 100%;
}

.plan {

    color: black;
}

.monster {
    background-color: white;

    padding-left: 110px;
    margin-left: 120px;
    margin-right: 112px;
    margin-top: -8px;
}

#plan {
    color: black;

    margin-left: 300px;
    margin-top: 120px;
    margin-bottom: 0px;
}

#happy {
    color: black;
    margin-left: -40px;
    margin-top: 0px;

}

#world {
    color: black;
    margin-left: 60px;
    margin-top: -20px;
}

.kobi {
    background-color: white;

    padding-left: 110px;
    margin-left: 120px;
    margin-right: 112px;
    margin-top: -17px;
    display: flex;

}





#first {
    color: black;
    margin-left: -75px;


}

#sec {
    color: black;
    margin-left: -70px;
}

#thir {
    color: black;
    margin-left: -70px;
}

.food {
    text-align: left;
    background-color: rgb(229, 229, 240);
    width: 30%;
    margin-top: 50px;

    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-right: 10%;
    margin-left: -5%;

}

.shelter {

    background-color: rgb(242, 204, 204);
    width: 30%;
    margin-top: 50px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-left: -5%;
    margin-right: 5%;
}

.frame {

    background-color: rgb(238, 220, 187);
    width: 30%;
    margin-top: 50px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-right: 5%;
}

.extra {
    background-color: white;
    margin-top: -33px;
    margin-left: 120px;
    margin-right: 8.27%;

}

#get {
    color: black;
    margin-left: 40%;
    padding-top: -35px;

}

#our {
    color: black;
    margin-left: 250px;
    margin-top: 0%
}

#sad {
    color: black;
    margin-left: 140px;

}

.email {
    background-color: rgb(248, 231, 200);
    height: 90px;
    width: 50%;
    margin-top: 10%;
    padding-top: 8%;
    padding-left: 25%;
    margin-left: 15%;
}

.subscribe {
    color: white;
    background-color: rgb(238, 111, 111);
    border: 1px solid rgb(238, 131, 131);
    height: 30px;
    width: 120px;
    border-radius: 2px;
    margin-left: -4px;
}

#humble {
    color: red;
    background-color: black;
    margin-left: -100px;
    margin-right: -100px;
    padding-left: 55%;
    padding-right: -180px;
    height: 170px;
    font-size: 25px;

}

.#gonna {
    color: white;
}