body {
    font-family: 'Poppins', sans-serif;


}

h1 {
    font-size: 40px;
    color: white;

}

.who {
    padding-left: 25%;
    padding-top: 5%;
    padding-bottom: 0%;
    margin-bottom: 0%;
}

.need {
    padding-top: 0%;
    padding-left: 35%;
    margin-top: 0px;
}


p {
    color: white;
    padding-left: 25%;
}

#us {
    padding-left: 30%;
}

.help {
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;

    border: 2px solid gray;
    padding: 0px 15px 0px 15px;
    background-size: cover;
    margin-left: -110px;
    margin-right: 1222px;
    margin-top: -10px;
    height: 30em;
    width: 68em;
    border-radius: 5px;

}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 470px;
}

.poor {
    background-color: gray;
    margin-left: -10px;
    margin-right: -8.5px;

}

.master {
    background-color: white;

    padding-left: 110px;
    margin-left: 120px;
    margin-right: 112px;
}

.donate {
    background-color: white;

    margin-left: 124px;
    margin-top: -34.9px;
    margin-right: 72px;
}

#font {
    color: black;
    font-size: 500;
    font-weight: 900;
    text-align: center;
    margin-left: -150px;
    padding-top: 40px;
    margin-bottom: 0px;
}

#as {
    color: black;
    margin-left: -80px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#dont {
    color: black;
    margin-top: 0px;
    margin-left: 30px;
}

.money {
    font-size: 30px;
    color: gray;
    margin-left: -250px;
    font-weight: bold;
    word-spacing: 70px;

    margin-top: 50px;

}

.one {
    background-color: rgb(226, 226, 226);
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    border-radius: 5px;
}

.two {
    background-color: rgb(226, 226, 226);
    border: 2px solid red;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 5px 10px 20px red inset;
    color: red;
}



#other {
    margin-top: 100px;
    color: rgb(186, 186, 186);
    margin-left: 400px;
}

hr {
    width: 50%;

}


.link-butt {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 25px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-left: 400px;
    margin-bottom: -500px;
    margin-top: 100%;
}

.plan {

    color: black;
}

.monster {
    background-color: white;

    padding-left: 110px;
    margin-left: 120px;
    margin-right: 112px;
    margin-top: -8px;
}

#plan {
    color: black;

    margin-left: 300px;
    margin-top: 120px;
    margin-bottom: 0px;
}

#happy {
    color: black;
    margin-left: -40px;
    margin-top: 0px;

}

#world {
    color: black;
    margin-left: 60px;
    margin-top: 0px;
}